
@keyframes __slideInLeft {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .fadein {
    animation: fadeIn 1s ease-out forwards;
    z-index: 1;
  }
  
  .fadeout {
    animation: fadeOut 1s ease-out forwards;
    z-index: 0;
  }
.mainContainer{
    animation: __slideInLeft .5s;
    background: #e8eefa;
    height: 100vh;
}
.slideIn{
    animation: __slideInLeft .5s;
    position: relative;
}
.sectionsContainer{
    padding-inline :30px;
    padding-block: 5px;
}
.sectionsContainer>p{
    padding-left: 12px;
    color: #6B7280;
    font-weight: bolder;
    font-size: 13px;
}
.sectionsContainer :first-child{
    border-radius: 7px;
    border: 2px solid #0a0a0a;
    width: 250px;
    height: 45px;
    padding-left: 10px;
}
.sections{
    column-gap: 15px;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;
}
.hamburgerSlider{
    padding-top:20px;
    z-index: 1001;
    backdrop-filter: blur(10px);
    height: 100vh;
    inset: 0;
    position: fixed;
    display:flex;
    flex-direction: column;
    align-items: start;
    top: 0;
    animation: __slideInLeft .4s forwards;
    left: 0;
    width: 200px;
    background-color: rgba(220, 220, 220, 0.5);
}

.hamburgerSliderSlideOut {
    animation: slideOutLeft 0.4s backwards;
}

@keyframes slideOutLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100px);
    }
}
@media(min-width: 760px){
    .sectionsContainer :first-child{
        width: 40vw;
        height: 60px;
        padding-left: 10px;
    }
    .sections{
        padding-block: 20px;
    }
}

@media(min-width: 1180px){
    .sectionsContainer :first-child{
        width: 30vw;
    }
    .sections{
        padding-block: 20px;
    }
}

.collectionDiv{
    @apply justify-center items-center flex flex-col bg-gray-100 py-4 px-2 relative
    sm:grid sm:grid-cols-2 sm:text-2xl sm:grid-rows-[50px_80px_110px] sm:pl-[40px]
    md:pl-[10px] md:grid-rows-[120px_80px_50px]
    lg:px-[5%] lg:grid-rows-[150px_100px_80px] overflow-hidden
}

.collectionText{
    @apply font-bold text-lg text-gray-700 text-center
    sm:order-1 sm:col-span-2 sm:text-start sm:text-3xl
    md:col-span-1 md:text-5xl lg:w-[60px]
}
.imageDiv{
    @apply w-[250px] overflow-hidden h-[120px] order-2
    sm:order-4 sm:col-span-1 sm:w-[350px] sm:h-[180px]
    md:col-span-1 md:row-span-3 md:order-2 md:h-[200px] md:w-[450px]
    lg:w-[650px] lg:h-[100%]
}

.text{
    @apply text-center text-gray-500 px-3 py-2  text-lg font-thin 
    sm:order-2 sm:col-span-2 sm:text-start sm:text-xl sm:px-0
    md:text-[18px] md:order-3 md:col-span-1
    lg:text-[17px] lg:w-[350px]
}
.collectionButton {
    @apply px-3 py-2 w-[180px] bg-green-300 hover:bg-green-500 text-center  text-sm rounded-md font-bold cursor-pointer
    sm:order-3 sm:col-span-1 sm:text-lg sm:mt-[-30px]
    md:order-4 md:mt-[5px]
}

.backPack{
    @apply justify-center items-center flex flex-col gap-3 px-[10%] mt-[70px]
    sm:grid sm:grid-cols-2 sm:gap-x-[10%]
    md:grid-cols-4 md:gap-x-[5%] md:px-[3%]
}
.bagImages{
    @apply h-[200px] overflow-hidden bg-[#F4F8F9]
    sm:h-[250px] md:h-auto 
}
.images{
    @apply object-cover w-full h-[full] translate-y-[-10px]
}
.bagImages :nth-child(1){
    @apply hover:scale-105 transform overflow-hidden
}
.storename{
    @apply text-center text-2xl font-semibold text-gray-700 py-[10px] 
    md:text-sm
}
.storeText{
    @apply text-center font-thin text-gray-500
}
.footer{
    @apply flex justify-between items-center flex-col
}
.footerImage{
    @apply h-[450px] w-[full] relative object-cover overflow-hidden
}
.footer :first-child{
    @apply h-[450px] w-[100%] overflow-hidden
}
.footerDiv2{
    @apply absolute flex justify-between mt-[10%] cursor-pointer h-[400px]
}
.footerDiv2 div{
    @apply flex w-[10%]
}
.footer div{
    z-index: 1;
}
.bestSellers{
    @apply bg-gray-300 py-2 font-semibold text-xl text-center w-full text-gray-600
}
.bagInfoImage{
    @apply w-full h-auto flex sm:justify-center sm:items-center sm:px-[20%]
}
.bagInfoImage :first-child{
    @apply sm:w-[100%] rounded-md  
}
.bagInfoButton :first-child {
    @apply py-[7px] rounded-md justify-center h-[320px] w-auto overflow-hidden
    hover:bg-green-600 bg-green-400 text-gray-200 font-semibold
}
.priceAndStorename{
    @apply gap-2
}
.storename{
    @apply text-2xl
}
.description{
    @apply pl-[10px] text-xl font-semibold text-gray-600
}
.loading{
    @apply w-[120px] h-[120px] flex justify-center items-center bg-black z-10 fixed
}
.headerText{
    @apply bg-gray-300 py-3 font-semibold text-2xl text-center w-full text-gray-600 mt-[10px]
}
.cartButton{
    @apply text-center py-3 rounded-md text-lg font-bold text-gray-700 px-[7px] bg-green-500 hover:bg-green-800
}
.ptags{
    @apply gap-3
}
.ptags p{
    @apply sm:text-lg md:text-2xl px-[10px] sm:px-[15px] md:px-[20px] py-[3%]
}
.review{
    @apply text-sm sm:text-lg md:text-2xl text-center w-full mx-[3px] sm:w-[600px] md:w-[800px] py-[20px]
}
.review{
    box-shadow: 1px -1px 15px;
}
.contact{
    @apply flex flex-col justify-center items-center py-[20px] w-[250px] bg-gray-300 lg:w-[300px] lg:h-[150px] cursor-pointer
}
.contactPack{
    @apply flex flex-col justify-center items-center gap-5 my-[40px] lg:gap-[60px] rounded-md
}
.pack{
    @apply flex flex-col lg:flex-row lg:justify-around lg:items-center pb-[30px]
}
.form{
    @apply flex flex-col gap-7 lg:gap-2 flex flex-col justify-center items-center
}