@keyframes __slideInLeft {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}
.mainContainer{
    animation: __slideInLeft .5s;
    background: #e8eefa;
    height: 100vh;
}
.slideIn{
    animation: __slideInLeft .5s;
}
.sectionsContainer{
    padding-inline :30px;
    padding-block: 5px;
}
.sectionsContainer>p{
    padding-left: 12px;
    color: #6B7280;
    font-weight: bolder;
    font-size: 13px;
}
.sectionsContainer :first-child{
    border-radius: 7px;
    border: 2px solid #0a0a0a;
    width: 250px;
    height: 45px;
    padding-left: 10px;
}
.sections{
    column-gap: 15px;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;
}
.hamburgerSlider{
    backdrop-filter: blur(10px);
    padding-left: 20px;
    padding-top:20px;
    z-index: 1001;
    backdrop-filter: blur(10px);
    height: 100vh;
    inset: 0;
    position: fixed;
    top: 0;
    animation: __slideInLeft .4s forwards;
    left: 0;
    width: 200px;
    background-color: rgba(220, 220, 220, 0.5);
}

.hamburgerSlider.slideOut {
    animation: slideOutLeft 0.4s forwards;
}

@keyframes slideOutLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100px);
    }
}
@media(min-width: 760px){
    .sectionsContainer :first-child{
        width: 40vw;
        height: 60px;
        padding-left: 10px;
    }
    .sections{
        padding-block: 20px;
    }
}
@media(min-width: 1180px){
    .sectionsContainer :first-child{
        width: 30vw;
    }
    .sections{
        padding-block: 20px;
    }
}
